Main {
    float: right;
    width: 65%;
    padding-left: 3%;
    margin-top: 1%;
    font-family: Helvetica;
    background-color: rgba(0, 0, 0, 0.400);
    backdrop-filter:blur(2px);
    border-radius:5%;
}
.Profile{
    margin-left:7%;
    margin-top:2%;
    border-radius: 4px;
    box-shadow: 0px 4px 3px 3px black;
}


#Images {
    display: flex;
    flex-wrap: wrap;
  justify-content: space-around;
   
}


.Links{
    list-style: none;
    display:flex;
flex-direction:column;
flex-wrap:wrap;
align-content:center;
padding:5%;
font-size: 30px;

}

li a:link {
    text-decoration: underline;
    color:white;
    padding:15%;
}

li a:visited {
    text-decoration: none;
    color: white;
}
    