.BlogEntry {
    width:15%;
    padding:1%;
    font-size: 25%;
    display:flex;
    flex-direction: column;
    float:left;

}

button{
    background: none;
    color:white;
    font-size: 18px;
    background-color: rgba(65, 64, 64, 0.804);
    padding:10px;
    border-radius:20px;
}

article{
    background-color: rgba(0, 0, 0, 0.400);
    backdrop-filter:blur(4px);
    float:right;
    width:80%;
    padding:1%;
    border:1%;
    border-radius: 2%;
    display:none;
}
h2{
    font-size: 30px;
    text-align: center;
}