.BlogEntry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    width:100px;
}

button{
    background: none;
    color:white;
    
}

main{
    float:right;
}