 
  .gallery { /* Gallery container */
    display: grid; /* Grid display */
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-gap: 10px; /* 10px gap between columns */
    margin: 20px; /* 20px outside padding */
  }
  
  .photo { /* Photo container */
    background-size: cover; /* Cover the width/height */
    background-position: center; /* Center the image */
    height: 350px;
    transition: transform 0.3s; /* Animation transition */
  }
  
  .photo:hover { /* Enlarge photo on hover */
    transform: scale(1.2); /* Scale up image */
    z-index: 1; /* Stacking order */
  
  }
  
  .photo:not(:hover) { /* Dim photos that are not hovered */
    transition: transform 0.5s;
  }
  
  .photo.enlarged { /* Enlarged photo */
    position: fixed; /* Fixed position */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Translate to center */
    height: 350px;
    width: 400px;
    z-index: 2; /* Stacking order */
  }