.HomeScreen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: normal;
    align-items: center;
    grid-template-columns: repeat (1, 1fr);
    grid-template-rows: repeat (1, 1fr);
    height:650px;
    background: linear-gradient(#2bd3e9e5, #090e46);
    margin:8%;
    box-shadow: 0px 3px 30px 30px black;
    border-radius: 15%;

}
h1{
    
    display:flex;
    justify-content: center;
}

.HomeLink {
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family:calibri;
    text-transform: uppercase;
}

.box {
    position: relative;
    width: 260px;
    height: 250px;
    border: 2px solid rgba(48, 6, 163, 0.24);
    border-radius: 45px;
    backdrop-filter: blur(1.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 35px;
    cursor: pointer;
    z-index: 2;
}

.box:hover .overlay {
    transform: translateY(90%);
    z-index: 1;
    opacity: 1;
}

.box:hover .overlay p {
    opacity: 1;
}

.overlay {
    position:fixed;
    width: 100px;
    height: 60px;
    background-color: #0758c26e;
    backdrop-filter:blur(1px);
    border: 50px;
    align-items: center;
    transform: translateY(2%);
    transition: all 1s ease;
    padding: 75px;
    border-radius: 10%;
    z-index: -1;
    opacity:0;
    
}

.overlay p {
    margin: 0;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    color: rgb(0, 0, 0)
}