.HomeScreen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: normal;
    align-items: center;
    grid-template-columns: repeat (1, 1fr);
    grid-template-rows: repeat (1, 1fr);
    height:610px;
    background: linear-gradient(#22acbee3, #090e46);
    margin:8%;
    box-shadow: 0px 3px 30px 30px black;
    border-radius: 15%;
    transform: all 0.5s ease-in;
    font-family:Courier;

}
h1{  
    display:flex;
    justify-content: center;
    font-size:50px;
    font-family:Courier;
}

.HomeLink {
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration:solid;
    text-transform: uppercase;
    transform: all 0.5s ease-in;
}

.box {
    position: relative;
    width: 260px;
    height: 250px;
    border: 2px solid rgba(41, 6, 136, 0.158);
    border-radius: 45px;
    backdrop-filter: blur(1.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 35px;
    cursor: pointer;
    z-index: 2;
    transform: all 0.5s ease-in;
}

.box:hover .overlay {
    transform: translateY(90%);
    z-index: 1;
    opacity: 1;
}

.box:hover .overlay p {
    opacity: 1;
}

.overlay {
    position:fixed;
    width: 100px;
    height: 50px;
    background-color: #2f06b515;
    backdrop-filter:blur(1px);
    align-items: center;
    transform: translateY(2%);
    transition: all 1s ease;
    padding: 70px;
    border-radius: 12%;
    z-index: -1;
    opacity:0;
    
}

.overlay p {
    margin: 0;
    font-size: 16px;
    text-align: center;
    
    opacity: 0;
    color: rgb(255, 255, 255)
}