.mediaContainer{
    background-color: black;
}


.videoRight {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;
}
.videoLeft{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;

}

h2 {
    color: white;
    background-color: black;

}

p {
    color: white;
}

