.mediaContainer{ /* Container for the media */
    padding-left: 3%;
    margin-top: 1%;
    background-color: rgba(0, 0, 0, 0.400); /* Black background with transparency */
    backdrop-filter:blur(4px); /* Blur effect */
    border-radius:5%;
    padding:2%;
}


.videoRight { /* Right video container */
    display: flex;
    flex-direction: row; /*Difference between Left and Right video container*/
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;

    
    
}
.videoLeft{ /* Left video container */
    display: flex;
    flex-direction: row-reverse; /*Difference between Left and Right video container*/
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;  

}

h2{
    color: white;
    text-decoration:underline;
}

p {
    color: white;
    padding:2%;
    font-size:17px;
    text-align:center;
}

