.ourEquipment{
    padding-left: 3%;
    margin-top: 1%;
    background-color: rgba(0, 0, 0, 0.400);
    backdrop-filter:blur(4px);
    border-radius:5%;
}
.equipmentBio{
  
}

.equipmentOne{
    display:flex;
    align-items: center;
    overflow:hidden;
}
.equipmentOne p{
    margin-left:2%;
    opacity: 0;
  transition: opacity 0.3s;
}
.equipmentOne h2{
    padding: 1%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.equipmentOne img:hover + p{
    transform: translateX(1%);
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
} 
.equipmentOne img:hover + h2{
    transform: translateX(-10%);
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
}  