nav li{
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    display:inline-block;
    padding: 0px 20px;
}
footer{
    position:absolute;
    bottom:0;
    text-align: center;
    width:100%;
    height:2%;
}

aside{
    float:right;
    width:35%;
    padding-left: 3%;
    margin-top: 1%;

}
aside{
    list-style-type: none;
    
}

Main{
    float:right;
    width:65%;
    padding-left: 3%;
    margin-top: 1%;
}