.labMain{ /* TheLab Div */
    padding-left: 3%;
    margin-top: 1%;
    background-color: rgba(0, 0, 0, 0.400);
    backdrop-filter:blur(4px);
    border-radius:5%;
    padding:2%;
    font-size:17px;
}
.researcherOne{ /* ResearcherOne Div */
    display:flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items:center;
    padding:2%;

}
h1{
    text-align:center;
}
h2{
    margin-left:1%;
    text-align: center;
}
.researcherTwo{ /* ResearcherTwo Div */
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    padding:2%;
}
img{
    border-radius:2%;
}

#googleMap{ 
display:block; /* Display the map */
margin:0 auto; /* Center the map */
width:75%;
height:400px;
justify-content: space-around;
padding:2%;
border:4px solid black; /* Border around the map */
border-radius:2%; /* Rounded corners */
}


